body{
    background-color: burlywood;
}

.menu{
    /*position: fixed;
    top: 50%;
    left: 10px;
    border: 2px;
    transform:translateY(-50%);*/ /*el negativo es hacia arriba */
    /*background-color: burlywood;*/
   /* text-align: center;*/
    display: flex;
    flex-direction: column;
}

/* Fixed: la posición respecto a toda la página */
/* Absolute: la posición respecto a el modulo concreto elegido */

.menu a{
    flex-grow: 1;
    text-decoration: none; /*quitar el subrayado del enlace*/
    padding: 8px;
    text-align: center;
}

.menu a:hover{
    background-color: rgb(200, 150, 85);
    transition: transform 0.3s;
    transform: /*scale(1,2)*/ translateY(-2px) /*rotate(360deg)*/;
    box-shadow: 0px 4px 12px brown;
}

main{
    color:brown;
    margin-left: 150px;
}

.grid{
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh; /*Con esto nos aseguramos que siempre ocupe lo que queremos, da igual el navegador o dispositivos*/

}

.menu-container{
    display: flex; /*Organiza columna o flia*/
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(45deg, brown, burlywood);
}