td {
  background-color: white;
}

.datos tr td {
  font-style: italic;
}

tr.fila-impar td {
  background-color: #f2f2f2; /* Un gris claro */
}

td[data-estado="importante"] {
  font-weight: bold;
  background-color: yellow;
}

/* La primera regla solamente se aplica al tercer td, la segunda regla se aplica a todos los td, la tercera se aplica a los dos primero 
td indicados y la cuarta solamente al último td*/