#contenedor p {
  background-color: lightblue !important; /*Gana este porque tiene !important y tiene un id*/
}

div.caja p.texto {
  color: green;
  background-color: lightyellow;
}

.advertencia .resaltado {
  color: orange;
}

.texto span {
  color: red !important;
}