#body{
    background-image: url("Imagenes/Fondo.jpg");
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#tabla{
    width: 50%;
    border-width: 2px;
    border-style: solid;

}

#título{
    background-color: #2a75bb;
}

.planta{
    background-color: #DDEAD1;
}

.fuego{
    background-color: #ffc2a9;
}

.agua{
    background-color: #91c4d9;
}

a{
    color: #000000;
}