body{
    background-color: burlywood;
}

.menu{
    position: fixed;
    inset-block:inherit;
    top: 50%;
    left: 10px;
    border: 2px;
    transform:translateY(-50%); /*el negativo es hacia arriba */
    background-color: burlywood;
    text-align: center;
}

/* Fixed: la posición respecto a toda la página */
/* Absolute: la posición respecto a el modulo concreto elegido */

.menu a{
    text-decoration: none; /*quitar el subrayado del enlace*/
    padding: 8px;
}

.menu a:hover{
    background-color: rgb(200, 150, 85);
    transition: transform 0.3s;
    transform: scale(1,1) translateY(-5px);
    box-shadow: 0px 4px 12px brown;
}

main{
    color:brown;
    margin-left: 150px;
}